body{
    display: grid;
    grid-template-columns:repeat(4, 1fr)  repeat(3, 80px);
    grid-template-rows:  repeat(12, 1fr);
    height: 120vh;
    font-family: "Poppins", sans-serif;
    background-color: #f1f1f1;
    column-gap: 30px;
    row-gap:20px;
}
 
.navbar{
    display: flex;
    grid-column: 1 / 2;
    grid-row: 1 / 13;
    background-color: #FDCB4D;
    border-radius: 15px;
    align-items: center;
    flex-flow: column;
    line-height: 55px;
}
 
.logo{
    background-color: #E0A819;
    border-radius: 40px;
    width: 130px;
    height: 130px;
    margin-top: 40px;
    margin-bottom: 15px;
    box-shadow:2px 2px 20px #ebbf51d2;
    cursor: pointer;
}
 
.logo img{
    padding: 25px;
    width: 80px;
    opacity: 0.9;
}
 
.navegacao div{
    color: rgba(255, 255, 255, 0.637);
    cursor: pointer;
}

.navegacao div img {
    padding-right: 10px;
}
 
.navegacao div:nth-child(1), .navegacao div:nth-child(9){
    color: white;
}
 
.logout{
    padding-top: 19px;
}
 
header {
    display: flex;
    background-color: #fff;
    border-radius: 25px;
    justify-content: right;
    grid-column: 2 / span 2;
    height: 50px;
    color: #757575;
    align-items: center;
    padding-right: 30px;
    font-size: 16px;
    box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
    cursor: text;
}

.banner{
    display:grid;
    position: relative;
    background: linear-gradient(99deg, #ffd7719c 53.12%, #fff7e3c2 155.43%);
    grid-row: 2 / 5;
    grid-column: 2 / 8;
    border-radius: 15px;
    margin-right: 30px;
    box-shadow: 5.211px 5.211px 31.266px 5.211px rgba(0, 0, 0, 0.08);
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 20%);
}
 
.banner p{
    grid-column: 1 / 4;
    font-size: 14px;
    padding: 20px;
    margin: 0;
}

.banner h2 {
    grid-column: 1 / 4;
    grid-row: 3/45;
    padding: 0 0 10px 20px
}

.banner #p1{
    font-size:14px;
    font-weight: lighter;
    padding: 0;
}
.banner div {
    grid-column: 5 / 6;
    grid-row: 1 /6;
    display: flex;
    justify-content: end;
}

.john{
    object-fit: contain;
    padding: 0 30px 0 0;
}

.perfil {
    grid-column: 5  /8;
    position: relative;
    cursor: pointer;
}

.perfil div {
    display: flex;

}

#fotoperfil {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: #E0A819 3px solid;
    border-radius: 30px;
}

#h2 {
    font-size: 15px;
    margin-top: 5px;
    margin-left: 10px;
}

#h2 span {
    font-size: 12px;
    font-weight: 300;
}

#sininho {
    position: absolute;
    right: -8px;
    top: -10px;
    width: 150px;
    height: 80px;
}

.financas{
    display: grid;
    grid-template-rows: repeat(3, 33%);
    grid-template-columns: repeat(3, 33%);
    margin-top: 10px;   
}
 
.financas h1{
   font-size: 20px;
   margin: 0;
}

#um, #dois, #tres {
    display: flex;
    align-items: center;
    flex-flow: column;
    box-shadow:8px 8px 40px 8px rgba(0, 0, 0, 0.08);
    text-align: center; 
    cursor: pointer;
}

#um{
    grid-row: 6 / 9 ;
    grid-column: 2 / 3;
    background-color: white;
    border-radius: 15px;
}

#um img{
    width: 90px;
    padding-top: 5px;
}

#um p{
    margin: 0;
    font-size: 12px;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.689);
}
 
#um h2{
    margin: 0;
}

#dois{
    grid-row: 6 / 9 ;
    grid-column: 3 / 4;
    background-color: white;
    border-radius: 15px;
    border: #E0A819 solid 3px;
}

#dois img {
    width: 70px;
    padding-top: 5px;
}

#dois p{
    margin: 0;
    font-size: 12px;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.689);
}

#dois h2{
    margin: 0;
}

#tres{
    grid-row: 6 / 9 ;
    grid-column: 4 / 5;
    background-color: white;
    border-radius: 15px;
}

#tres img {
    width: 60px;
    padding-top: 10px;
}

#tres p{
    margin: 0;
    font-size: 12px;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.689);
}

#tres h2{
    margin: 0;
}

.instrutores {
    grid-column: 5 / 8;
    grid-row: 5 / 7;
    padding-right: 15px;
}

.instrutores h1 {
    font-size: 20px;
    grid-column: 5/8;
    margin: 10px;
    padding-top: 5px;
}

.instrutores div {
    display: flex;
    justify-content: space-evenly;
}

.instrutores  div img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: #E0A819 3px solid;
    border-radius: 40px;
    margin-right: 18px;
    cursor: pointer;
}

.daily {
    display: flex;
    grid-column: 5 / 8;
    grid-row: 7 / 9;
}

.daily h2 {
    font-size: 20px;
    font-weight: 600;
}

.daily span {
    padding-left: 105px;
}

.more{
    grid-row: 8 / 13 ;
    grid-column: 5 / 8;
    background-color: white;
    border-radius: 15px;
    box-shadow:8px 8px 40px 8px rgba(0, 0, 0, 0.08);
}

.div1, .div2 {
    font-size: 15px;
    padding: 10px 0 0 16px;
}

.div1 h3, .div2 h3 {
    font-weight: 600;
    padding-top: 2px
}

.div1 h3, .div2 h3, .div1 p, .div2 p {
    margin: 0;
}

.more div p {
    color: rgba(0, 0, 0, 0.589)
}

.courses {
    grid-column: 2 / 5;
    grid-row: 9 / 13;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40px 1fr;
    column-gap: 20px;
}

.courses h1, .courses h2 {
    margin: 0;
    font-size: 20px;
}

#see {
    text-align: end ;
}

.c1 {
    background-color: white;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    border-radius: 20px;
    box-shadow: 5.211px 5.211px 31.266px 5.211px rgba(0, 0, 0, 0.08);
    border: #E0A819 solid 4px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0  10px 15px;
}

.c2 {
    background-color: #ffd7719c;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    border-radius: 20px;
    box-shadow: 5.211px 5.211px 31.266px 5.211px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0  10px 15px;
}

.c1 h2, .c2 h2 {
    font-size: 18px;
    font-weight: 600;
    padding: 35px 0 0 ;
}

.view {
    border: black solid 2px;
    line-height: 20px;
    border-radius: 20px;
    width: 100px;
    font-weight: 500;
    text-align: center;
    align-self: center;
    cursor: pointer;
}

.c2 img {
    object-fit: cover;
    margin: 10px;
    padding: 10px 0 0 5px;
}

.c1 img {
    object-fit: cover;
    margin: 10px;
    padding: 15px 0 0 5px;  
}
